@model UserModel

<div class="circle"></div>
<div class="content">
    <div class="textBox">
        <h2>Seu pet fugiu?<br><span>PetFinder!</span></h2>
        <p>Adicione um carinho a mais pelo seu colega de quatro patas! <br />Nós ajudaremos você a recuperar seu animal caso ele
            resolva passear por aí sem sua permissão. Com nosso QR Code que conterá suas informações e do seu colega, 
            ele voltará para casa de uma forma mais rápida e segura.<br /> E o melhor, é gratuito! Basta se registrar
            e cadastrar seu pet que nós faremos o trabalho para você!</p>
            <a asp-controller="User" asp-action="Index">Registre-se</a>
    </div>
    <div class="imgBox">
        <img src="~/images/catDogHome.png" class="petfinder" width="80%"/>
    </div>
</div>

<@*div class="text-center">
    <h1 class="display-5" id="titulo">PetFinder</h1>
    <hr>

    <h2>Seja bem-vindo, @Model.Nome!</h2>
    <p id="paragrafo_titulo">
        Cuide do seu filho peludo com o nosso sistema de identificação PetFinder!
        Foi desenvolvido exclusivamente para oferecer  máxima proteção  ao seu filho peludo!
    </p>
</div>*@
